{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<div class="col-md-12 page-body">
    <div class="row">
        <div class="sub-title">
            <a href="{{ page.get_parent.url }}" title="Go to Home Page"><h2>Назад в Блог</h2></a>
         <a href="{{ page.get_parent.url }}" class="smoth-scroll"><i class="icon-bubbles"></i></a>
        </div>

        <div class="col-md-12 content-page">
            <div class="col-md-12 blog-post">

                <!-- Post Headline Start -->
                <div class="post-title">
                    <h1>{{ page.title }}</h1> 
                </div>
                <!-- Post Headline End -->

                <!-- Post Detail Start -->
                <div class="post-info">
                <span>{{ page.date }} / by <a href="#" target="_blank">Alex Parker</a></span>
                </div>
                <!-- Post Detail End -->
                <p>
                    {% include_block page.body %}
                </p>
                <!-- Post Author Bio Box Start -->
                <div class="about-author margin-top-70 margin-bottom-50">
                                    
                    <div class="picture">
                      <img src="images/blog/author.png" class="img-responsive" alt="">
                     </div>
                   
                    <div class="c-padding">
                       <h3>Article By <a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Visit Alex Website">Alex Parker</a></h3>
                       <p>You can use about author box when someone guest post on your blog, Lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ad minim veniam.</p>
                      </div>
                    </div>
                    <!-- Post Author Bio Box End -->

                <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
                
                <div class="you-may-also-like margin-top-50 margin-bottom-50">
                    <h3>You may also like</h3>
                     <div class="row">
                 
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <a href="single.html"><p>Make mailchimp singup form working with ajax using jquery plugin</p></a>
                     </div>
    
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <a href="single.html"><p>How to design elegant e-mail newsletter in html for wish christmas to your subscribers?</p></a>
                     </div>
    
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <a href="single.html"><p>How to customize a wordpress theme entirely from scratch using a child theme?</p></a>
                     </div>
                    
                    </div>
                  </div>

            </div>
        </div>

    </div>
</div>
    
    

{% endblock %}